{% extends 'admin/shared/admin_base.html.twig' %}

{% block title %}
	Modifier l'utilisateur
	{{ user.username }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" crossorigin="anonymous">
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/dashboard.css') }}">
{% endblock %}

{% block body %}
<div class="main" id="main">
	<div class="section row justify-content-center">
		<div class="border shadow alert alert-success col-lg-10">
		<h1 class="text-center">Modifier les informations de
			{{ user.username }}</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}

		<button class="btn btn-outline-success row my-2 mx-2">{{ button_label|default('Sauvegarder') }}</button>

		{{ form_end(form) }}

		<a class="btn btn-utilisateur my-2 mx-2" href="{{ path('user_index') }}">Retour</a>
	</div>
	</div>
</div>
	
{% endblock %}
