{% extends 'admin/shared/admin_base.html.twig' %}

{% block title %}OSTAJ - ajouter un utilisateur{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<body>
	<div class="main" id="main">
		<div class="container border shadow col-8 mb-2">
		<div class="alert">
			<h1>Créez un nouvel utilisateur</h1>
			<div>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-success my-2 mx-2">{{ button_label|default('Sauvegarder') }}</button>
				{{ form_end(form) }}
			</div>
			<a class="btn btn-dark my-2 mx-2" href="{{ path('user_index') }}">Retour</a>
		</div>
	</div>
	</div>
</body>
{% endblock %}
