{% extends 'admin/shared/admin_base.html.twig' %}

{% block title %}OSTAJ - ajouter un utilisateur{% endblock %}

{% block stylesheets %}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/dashboard.css') }}">
{% endblock %}

{% block body %}

<body>
	<div class="main" id="main">
		<div class=" section row justify-content-center">
		<div class="alert alert-success border shadow col-lg-10">
			<h1>Créez un nouvel utilisateur</h1>
			<div>
				{{ form_start(form) }}
				{{ form_widget(form, {'attr': {'class': 'form-success'}} ) }}
				<button class="btn btn-outline-success my-2 mt-3">{{ button_label|default('Sauvegarder') }}</button>
				{{ form_end(form) }}
			</div>
			<a class="btn btn-utilisateur align-center" href="{{ path('user_index') }}">Retour</a>
		</div>
		</div>
	</div>
</body>
{% endblock %}
