{% extends 'admin/shared/admin_base.html.twig' %}

{% block title %}OSTAJ - Fiche d'un utilisateur{% endblock %}

{% block stylesheets %}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/dashboard.css') }}">
{% endblock %}

{% block body %}


<body>
	<div class="main" id="main">
		<div class="alert alert-success border shadow">
			<h1 class="text-center">{{ user.username }}</h1>

			<table class="table table-success container  col-8">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ user.id }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<th>Roles</th>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					</tr>
					<tr>
						<th>Password</th>
						<td>{{ user.password }}</td>
					</tr>
					<tr>
						<th>Username</th>
						<td>{{ user.username }}</td>
					</tr>
				</tbody>
			</table>
			<div class="row justify-content-center m-2">
				<a class="btn btn-utilisateur my-2 mx-2" href="{{ path('user_index') }}">Retour</a>

				<a class="btn btn-outline-success my-2 mx-2" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>

				<form class="row m-auto p-0 my-2" method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet utilisateur ?');">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
					<button class="btn btn-outline-danger">Supprimer</button>
				</form>
			</div>
		</div>
	</div>
</body>
{% endblock %}
