{% extends 'admin/shared/admin_base.html.twig' %}
{% block title %}OSTAJ - Liste des utilisateurs{% endblock %}

{% block stylesheets %}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/dashboard.css') }}">
{% endblock %}

{% block body %}

<body>
	<div class="main" id="main">
		<div class="section">
			<div class="col col-lg-12 tableau-utilisateur">
				<div class="alert alert-success" style="width: fit-content;">
					<div class="card-body">
						<div class="row justify-content-between">
							<h1 class="col-sm card-title m-2">Liste des utilisateurs et leur rôle :</h1>
							<a class="col-sm-3 btn btn-utilisateur align-self-center m-2" href="{{ path('user_new') }}">Ajouter un utilisateur</a>
						</div>
						<table class="table table-success text-center">
							<thead>
								<tr>
									<th scope="col-2">Id</th>
									<th scope="col-2">Prénom et nom</th>
									<th scope="col-2">Email</th>
									<th scope="col-2">Roles</th>
									<th scope="col-2">Voir</th>
									<th scope="col-2">Modifier</th>
									<th scope="col-2">Supprimer</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td scope="row">{{ user.id }}</td>
										<td scope="row">{{ user.fullName }}</td>
										<td scope="row">{{ user.email }}</td>
										<td scope="row">{{ user.roles ? user.roles|json_encode : '' }}</td>
										<td scope="row">
											<a class="btn btn-outline-dark" href="{{ path('user_show', {'id': user.id}) }}" class="mx-3">Voir</a>
										</td>
										<td scope="row">
											<a class="btn btn-outline-success" href="{{ path('user_edit', {'id': user.id}) }}" class="mx-2">Modifier</a>
										</td>
										<td scope="row">
											<a class="btn btn-outline-danger" href="{{ path('user_delete', {'id': user.id}) }}">Supprimer</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="6">Aucun utilisateurs trouvé</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<a class="btn btn-utilisateur" href="{{ path('user_new') }}">Ajouter un utilisateur</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
