{% extends 'base.html.twig' %}

{% block title %}OSTAJ - On S'Tient Au Jus !{% endblock %}

{% block stylesheets %}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/home/home.css') }}">{% endblock %}

{% block body %}



<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{{ asset('images/Ostaj.png') }}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="{{ asset('/') }}">On S'Tient Au Jus !</a></h1>
        </div>

        <nav class="nav-menu">
            <ul>
                <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Accueil</span></a></li>
                <li><a href="#contact"><i class="bx bx-book-content"></i> <span>Réservation</span></a></li>

            </ul>
        </nav><!-- .nav-menu -->
        <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <!-- <button class="text-center"><a href="#contact">Réservez !</a></button> -->
    <div class="hero-container" data-aos="fade-in">
        <h1>On S'tient Au Jus !</h1>
        <p>Réserver votre pain: Le <span class="typed" data-typed-items="Campagne, Blé pop, Kalamata"></span></p>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Réservation</h2>
                <p>Réservez votre pain afin de le récupérer dans votre bar à jus !</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Adresse:</h4>
                            <p>RUE ? , 93100 Montreuil</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>adresse email ?</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Téléphone:</h4>
                            <p>Phone ?</p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.78350062028!2d2.4386534762702707!3d48.86233867133268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ec7da95eb4280b%3A0x5389433624054c48!2sMairie%20de%20Montreuil!5e0!3m2!1sfr!2sfr!4v1700268867495!5m2!1sfr!2sfr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>
                
                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="info">
                        {{ form_start(form) }}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form_row(form.nomClient) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form_row(form.emailClient) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_row(form.telephoneClient) }}
                        </div>
                        <div class="form-group">
                            <h3>Produits et quantités</h3>
                            <div id="detailCommande" data-prototype="{{ form_widget(form.detailCommande.vars.prototype)|e('html_attr') }}">
                                {% for produitForm in form.detailCommande %}
                                    <div class="produit-quantite">
                                        {{ form_row(produitForm.produit, {'attr': {'class': 'produit'}}) }}
                                        {{ form_row(produitForm.quantite) }}
                                    </div>
                                {% endfor %}
                            </div>
                            <a href="#" class="add_produit_link" style="color: #1395A7">Ajouter un produit</a>
                        </div>
                        <div class="form-group col-md-6">
                            <small id="emailHelp" class="form-text text-muted">*Vos données restent confidentielles</small>
                        </div>
                        <div class="text-center"><button class="btn my-2 mx-2" style="background-color : #1395A7; color: white">{{ button_label|default('Réserver') }}</button></div>
                    {{ form_end(form) }}
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->



<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Aïssata</span></strong>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
{% block javascripts %}







<script>
    // Script pour ajouter dynamiquement des champs de produits
var $detailCommande = $('#detailCommande');
var index = {{ form.detailCommande|length }};

$('.add_produit_link').click(function(e) {
    addProduitForm($detailCommande);
    e.preventDefault();
    return false;
});

function addProduitForm($detailCommande) {
    var template = $detailCommande.attr('data-prototype').replace(/__name__/g, index);
    var $produitForm = $(template);

    // Désélectionner le produit ayant l'ID 1 dans le champ de sélection de produits
    $produitForm.find('select').val(null);

    // Empêcher de sélectionner un produit déjà choisi dans un autre champ de produit
    var selectedProducts = [];
    $detailCommande.find('select').each(function() {
        var selectedProduct = $(this).val();
        if (selectedProduct !== null) {
            selectedProducts.push(selectedProduct);
        }
    });

    $produitForm.find('select').change(function() {
        var selectedProduct = $(this).val();
        if (selectedProducts.includes(selectedProduct)) {
            alert("Ce produit a déjà été choisi. Veuillez sélectionner un autre produit.");
            $(this).val(null);
        } else {
            selectedProducts.push(selectedProduct);
        }
    });

    $detailCommande.append($produitForm);
    index++;
}


</script>

{% endblock %}




{% endblock %}