{% extends 'admin/shared/admin_base.html.twig' %}
{% block title %}OSTAJ - Accueil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard/dashboard.css') }}">
{% endblock %}
	
{% block body %}

<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ ('/') }}">Aller sur le site</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-sm-6">
              <a href="{{ asset('/admin/commande/encours')}}">
                <div class="alert alert-warning info-reservation">
                  <div class="card-body">
                    <h5 class="mb-3">Réservations en cours</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>Total en cours : {{ countEnCours }}</h6>
                      </div>
                    </div>
                  </div>

                </div>
              </a>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-sm-6">
              <a href="{{ asset('/admin/produit')}}">
                <div class="alert alert-info info-produit">
                  <div class="card-body">
                    <h5 class="mb-3">Produits</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bx bx-store"></i>
                      </div>
                      <div class="ps-3">
                        <h6>Nombre de produit : {{ produits | length }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-sm-6">
              <a href="{{ asset('/admin/user') }}">
                <div class="alert alert-success info-utilisateur">
                  <div class="card-body">
                    <h5 class="mb-3">Utilisateurs</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>Nombre d'utilisateurs : {{ users | length }}</h6>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
            </div><!-- End Customers Card -->

            <!-- Boucle qui affiche la somme des produits, par id produit, dans les commandes en cours -->
              {% for produit in produits %}
                  <div class="col-xxl-4 col-sm-6">
                      <div class="alert alert-danger nombre-produit-reserv-encours">
                          <div class="card-body">
                              <h5 class="mb-3">
                                  {{ produit.nomProduit }}
                              </h5>
                              <div class="d-flex align-items-center">
                                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                      <i class="bx bxs-basket"></i>
                                  </div>
                                  <div class="ps-3">
                                      <h6>Total (réservation en cours) : {{ sumsByProduct[produit.id] ?? 0 }}</h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
									
              {% endfor %}
            <!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-md-12 tableau-commande">
                <div class="alert alert-warning">
                  <a href="{{ asset('/admin/commande/encours')}}">
                    <h5 class="titre-commande">Réservation de pains en cours</h5>
                  </a>
                  <table class="table table-warning">
                        <thead>
                            <tr>
                                <th>N° de commande</th>
                                <th>Nom du client</th>
                                <th>Numéro de téléphone</th>
                                <th>le Campagne</th>
                                <th>Le blé pop</th>
                                <th>Le kamata</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in commande %}
                                <tr>
                                    <td>{{ commande.id }}</a></td>
                                    <td>{{ commande.nomClient }}</td>
                                    <td class="text-center">{{ commande.telephoneClient }}</td>
                                    <td class="text-center">
                                      {% set quantity = 0 %}
                                      {% for detailCommande in detailsCommandes[commande.id] %}
                                          {% if detailCommande.produit.id == 1 %}
                                              {% set quantity = detailCommande.quantite %}
                                          {% endif %}
                                      {% endfor %}
                                      {% if quantity is null %}
                                          0
                                      {% else %}
                                          {{ quantity }}
                                      {% endif %}
                                    </td>
                                    <td class="text-center">
                                      {% set quantity = 0 %}
                                      {% for detailCommande in detailsCommandes[commande.id] %}
                                          {% if detailCommande.produit.id == 2 %}
                                              {% set quantity = detailCommande.quantite %}
                                          {% endif %}
                                      {% endfor %}
                                      {% if quantity is null %}
                                          0
                                      {% else %}
                                          {{ quantity }}
                                      {% endif %}
                                    </td>
                                    <td class="text-center">
                                      {% set quantity = 0 %}
                                      {% for detailCommande in detailsCommandes[commande.id] %}
                                          {% if detailCommande.produit.id == 3 %}
                                              {% set quantity = detailCommande.quantite %}
                                          {% endif %}
                                      {% endfor %}
                                      {% if quantity is null %}
                                          0
                                      {% else %}
                                          {{ quantity }}
                                      {% endif %}
                                    </td>
                                    <td class="text-center">{{ commande.datecommande | date("d/m/Y")  }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- End Reports -->

            <!-- Début liste des produits -->
            <div class="col-md-12 tableau-produit">
			      
                {% for label,messages in app.flashes %}
                  <div class="container text-center my-5">
                    <div class="alert alert-success {{ label }}">
                      {% for message in messages %}
                        <p>{{message | raw }}</p>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}

                <div class="alert alert-info">
                  <!-- <div class="card-body"> -->
                    <div class="d-flex justify-content-between">
                      <a href="{{ asset('/admin/produit')}}">
                        <h1 class="col-sm card-title m-2">Liste des produits :</h1>
                      </a>
                      <a class="col-sm-3 btn align-self-center m-2 btn-produit" href="{{ path('produit_new') }}">Ajouter un produit</a>
                    </div>
                    <table class="table table-info text-center">
                      <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Nom du produit</th>
                          <th scope="col">Description</th>
                          <th scope="col">Voir</th>
                          <th scope="col">Modifier</th>
                          <th scope="col">Supprimer</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for produit in produits %}
                          <tr>
                            <td scope="row">{{ produit.id }}</td>
                            <td scope="row">{{ produit.nomProduit }}</td>
                            <td scope="row">{{ produit.descriptionProduit }}</td>
                            <td scope="row">
                              <a class="btn btn-produit mx-2 my-2 p-2" href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                            </td>
                            <td td scope="row">
                              <a class="btn btn-outline-success mx-2 my-2 p-2" href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                            </td>
                            <td>
                              <a class="btn btn-outline-danger mx-2 my-2 p-2" href="{{ path('produit_delete', {'id': produit.id}) }}">Supprimer</a>
                            </td>
                          </tr>
                        {% else %}
                          <tr>
                            <td colspan="6">Aucun produits trouvé</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  <!-- </div> -->
                </div>
              <!-- </div> -->
            </div>
            <!-- Fin liste des produits -->

            <!-- Début liste des utilisateurs -->
            <div class="col-md-12 tableau-utilisateur">
              <div class="alert alert-success">

                <!-- <div class="card-body"> -->
                  <h5 class="card-title">Liste des utilisateurs</h5>

                    <table class="table table-success text-center">
                        <thead>
                            <tr>
                                <th scope="col-2">Id</th>
                                <th scope="col-2">Prénom et nom</th>
                                <th scope="col-2">Email</th>
                                <th scope="col-2">Roles</th>
                                <th scope="col-2">Voir</th>
                                <th scope="col-2">Modifier</th>
                                <th scope="col-2">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td scope="row">{{ user.id }}</td>
                                    <td scope="row">{{ user.fullName }}</td>
                                    <td scope="row">{{ user.email }}</td>
                                    <td scope="row">{{ user.roles ? user.roles|json_encode : '' }}</td>
                                    <td scope="row">
                                        <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-utilisateur mx-2 my-2 btn-sm">Voir</a>
                                    </td>
                                    <td scope="row">
                                        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-success mx-2 my-2 btn-sm">Modifier</a>
                                    </td>
                                    <td scope="row">
                                        <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-outline-danger mx-2 my-2 btn-sm">Supprimer</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucun utilisateurs trouvé</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
				    <a class="btn btn btn-utilisateur" href="{{ path('user_new') }}">Ajouter un utilisateur</a>
                <!-- </div> -->
              </div>
            </div><!-- Fin liste des utilisateurs -->

          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>On S'Tient Au Jus</span></strong>.
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}

{% block javascripts %}{% endblock %}