{% extends 'admin/shared/admin_base.html.twig' %}
{% block title %}OSTAJ - Les Réservations{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<body>
	<div class="main" id="main">
		<div class="section">
			<div class="col col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<h1 class="col-sm card-title m-2">Toutes les réservations :</h1>
						</div>
						<table class="table table-hover text-center">
							<thead>
								<tr>
									<th scope="col">Numéro de réservation</th>
									<th scope="col">Nom du client</th>
									<th scope="col">Adresse mail</th>
									<th scope="col">Numéro de Tél</th>
									<th scope="col">Nom du pain</th>
									<th scope="col">Quantité</th>
									<th scope="col">Statut</th>
									<th scope="col">Date</th>
								</tr>
							</thead>
							<tbody>
								{% for commande in commande %}
									<tr>
										<td scope="row">{{ commande.id }}</td>
										<td scope="row">{{ commande.nomClient }}</td>
										<td scope="row">{{ commande.emailClient }}</td>
										<td scope="row">{{ commande.telephoneClient }}</td>
										<td scope="row">{{ commande.detailCommande.produit.nomProduit }}</td>
										<td scope="row">{{ commande.quantite }}</td>
										<td scope="row">{{ commande.statut }}</td>
                                        <td scope="row">{{ commande.dateCommande | date("d/m/Y") }}</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="12">Aucune réservation en cours</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
